@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 30px 50px;
  background: $backSecondary;
  box-sizing: border-box;

  &__header {
    @include subHeader($textHover);
    padding: 15px 0;
    align-self: flex-start;
  }

  &__text {
    color: $textHover;
    padding-bottom: 15px;
    line-height: 30px;
  }

  &__button {
    @include button($textPrimary, $ctaSecondary);
    text-decoration: none;
    width: 80%;
    margin-top: 30px;
  }
}

.bookingList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
