@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.booking {
  &__text {
    @include subHeader($textPrimary);
    padding: 0 0 30px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
  }

  &__button {
    @include button($textPrimary, $ctaPrimary);
    margin: 15px 0;

    &--active {
      background-color: $ctaHover;
      color: $textHover;
    }
  }
}
