@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.events {
  width: 80%;
  padding: 15px 30px 50px;

  &__textWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    @include subHeader($textPrimary);
    padding: 15px 0;
  }

  &__text {
    text-decoration: none;
  }

  &__container {
    display: flex;
    overflow-x: scroll;
  }

  &__eventCard {
    width: 225px;
    height: 225px;
    flex-shrink: 0;
    background-color: grey;
    margin: 0 15px;
    border-radius: 15px;
  }
}
