@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__textContainer {
    padding: 0 30px;
  }

  &__headerText {
    @include mainHeader;
  }

  &__welcomeText {
    color: $textPrimary;
    text-align: left;
  }
}
