// text colors
$textPrimary: #4e6664;
$textSecondary: #7aa7ad;
$textHover: #fdf8f4;

// background colors
$header: #fdf8f4;
$backPrimary: #fdf8f4;
$backSecondary: #5b8783;

// shadows
$shadow: #c4c4c466;

// CTA colors
$ctaPrimary: #96c8d0;
$ctaHover: #5b8783;
$ctaSecondary: #f2cda0;
$ctaDisabled: #b6b6b6;

// form fields
$border: #5b8783;

// gradients
$default: #fff;

$success-one: #29bc04;
$success-two: #1fd7ab;
$success-three: #3e7852;
$success-four: #5b8783;
$success-five: #7aa7ad;
$success-six: #c1fdef;

$warning-one: #ffa800;
$warning-two: #d7ac40;
$warning-three: #ee8f00;
$warning-four: #fcea2b;
$warning-five: #ffc632;
$warning-six: #ffda7b;

$error-one: #ff0000;
$error-two: #a71717;
$error-three: #ce0404;
$error-four: #f4381e;
$error-five: #f45e1e;
$error-six: #fb9a28;
