@use "../../styles/partials/variables" as *;

.header {
  &__menu {
    &-container {
      justify-content: flex-start;
      align-items: center;
      gap: 30px;
      width: 100%;
      padding: 30px 0;
    }

    &-user {
      color: $default;
    }

    &-placeholder {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $shadow;
    }

    &-cta {
      text-decoration: none;
      color: white;
      padding-bottom: 30px;

      &--schedule {
        padding-top: 30px;
      }

      &--signOut {
        font-weight: 600;
      }
    }
  }

  & hr {
    margin-bottom: 30px;
    border: 1px solid $textPrimary;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  align-self: flex-end;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: $backSecondary;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  margin-top: -60px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  // display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
