@use "../../styles/partials/variables" as *;

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  // height: fit-content;
  background-color: $header;
  z-index: 1;
  overflow: hidden;

  &--loggedIn {
    justify-content: space-around;
    height: 86px;
    box-shadow: 0 2px 8px $shadow;
    position: fixed;
    gap: 45%;
  }

  &__background {
    width: 110%;
    border-radius: 0 0 50% 50%;
    position: relative;
    left: -20px;
  }

  &__logo {
    position: absolute;
    width: 25%;
    top: 2%;
    left: 4%;

    &--loggedIn {
      width: 110px;
      position: relative;
      top: 15%;
      left: 0;
    }
  }
}
