.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

  &__header {
  }

  &__container {
    border-radius: 10px;
    background-color: green;
    width: 80%;
  }

  &__qrCode {
    width: 100%;
  }
}
