@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login {
  &__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    // height: 100vh;
  }

  &__button {
    @include button($textPrimary, $ctaPrimary);
    margin: 15px 0;
    width: 100%;

    &:hover {
      cursor: pointer;
      background-color: $ctaHover;
      color: $textHover;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  &__label {
    padding: 10px;
  }

  &__input {
    @include formField;
  }

  &__submit {
    @include button($textPrimary, $ctaSecondary);
    margin-top: 20px;

    &--disabled {
      background-color: $ctaDisabled;
      color: $default;
    }
  }
}
